.profile-info__edit-btn {
  grid-column: 2;
  grid-row: 1;
  margin-left: 18px;
  background: url("../../../images/edit.svg") 50% no-repeat;
  background-color: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
}


@media screen and (max-width: 1070px) {
  .profile-info__edit-btn {
    margin-left: 0;
    width: 18px;
    height: 18px;
  }
}
