.profile-info__description {
  grid-column: 1 / 3;
  grid-row: 2;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 1070px) {
  .profile-info__description {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}
