.profile-info__description {
  grid-column: 1 / 3;
  grid-row: 2;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 1070px) {
  .profile-info__description {
    text-align: center;
  }
}
