.form__save-btn {
  background-color: black;
  color: white;
  width: 100%;
  border: none;
  cursor: pointer;
  min-height: 50px;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
}
